/* applied the backgound color variable and edited the width */
body {
background-color: var(--c-background-color);
width: 800px;
}
/* applied the background highlights and base font color variable */
header, footer {
    background-color: var(--c-background-highlights) ;
    color: var(--base-font-color);
}
/* Eddited the font of the header */
header {
  text-align: center;
  font-size: 150%;
  color: var(--c-yellow);
}
/* changed the font size of h2 and h3 */
h2, h3 {
font-size: 1.6em;
}
h1, h2 {
margin: 0.83em 0 0.17em 0;
}
/* add the padding to the article headings */
article h3{
padding-top: 50px;
}
p {
font: 1.1em/1.33 Verdana, sans-serif;
}
/*Applied the border to the subsection part */
#subsection {
border-style: solid;
border-width: 3px;
border-color: var(--c-cyan);
}
/*Applied the color to the links in the nav section */
nav{
  font-size: 1.2em;
  padding-top: 10px;
}
nav a:link {
  color: var(--c-magenta);
}
nav a:hover {
  color: var(--c-orange);
}
@media screen {
    body {
        color: black;
        background-color: (--c-background-color);
    }
}
@media print {  
    body {  
      color: black;  
      background-color: white;  
    }
  }
  /* Display the flex type for the links in the nav section */
  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 90%;
  }
  /* Display so that it looks like the output with 2 columns */
  main {
    display: grid;
    grid-template-columns: 85% 15%;
    color: var(--base-font-color);
  }
  /* changed the font of the links in the aside section*/
  aside {
    color: var(--c-green);
    font-size: 1.2em;
  }
  aside a:link {
    color: var(--c-red);
  }
  aside a:visited {
    color: var(--c-red);
  }
  aside a:hover {
    color: var(--c-blue);
  }
 
  /* root color specification */
  :root {
    --base-font-color: rgb(131, 148, 150);
    --secondary_font_color: rgb(88, 110, 117);
    --emphasized-font: rgb(147, 161, 161);
    --c-background-color: rgb(0, 43, 54);
    --c-background-highlights: rgb(7, 54, 66);
    --c-yellow: rgb(181, 137, 0);
    --c-orange: rgb(203, 75, 22);
    --c-red: rgb(220, 50, 47);
    --c-magenta: rgb(211, 54, 130);
    --c-violet: rgb(108, 113, 196);
    --c-blue: rgb(38, 139, 210);
    --c-cyan: rgb(42, 161, 152);
    --c-green: rgb(133, 153, 0);
  }