    h1, h2, p {
      padding: 0;
      margin: 0;
      font: 1em/1.33 Verdana, sans-serif;
   }
    header, footer {
        background-color: var(--c-background-highlights ;
    }
   h1, h2 {
      color: red;
   }
   h1 {
    font-size: 1.33em;
    color: var(--base-font-color)
   }

   h2 {
    font-size: 1.17em;
   }
   p {
    margin: 0 0 0.5em 0;
   }
   h1, h2 {
    margin: 0.83em 0 0.17em 0;
   }
   p:first-of-type {
  font: 0.17em/1.33 Verdana, sans-serif;
}
p {
   padding: 0;
   margin: 0;
   text-indent: 5em;
}
p + p {
   text-indent: 5em;
   /* this selects p tags preceded by a p tag --
     that is, not the first p tag */
}
p.first {
   text-indent: 0em;
}
@media screen {
    body {
        color: black;
        background-color: var(--c-background-color);
    }
}
@media print {  
    body {  
      color: black;  
      background-color: white;  
    }
  }

  :root {
    --base-font-color: rgb(131, 148, 150);
    --secondary_font_color: rgb(88, 110, 117);
    --emphasized-font: rgb(147, 161, 161);
    --c-background-color: rgb(0, 43, 54);
    --c-background-highlights: rgb(7, 54, 66);
    --c-yellow: rgb(181, 137, 0);
    --c-orange: rgb(203, 75, 22);
    --c-red: rgb(220, 50, 47);
    --c-magenta: rgb(211, 54, 130);
    --c-violet: rgb(108, 113, 196);
    --c-blue: rgb(38, 139, 210);
    --c-cyan: rgb(42, 161, 152);
    --c-green: rgb(133, 153, 0);
  }